<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% block title %} <title>Update Treatment Plan</title>{% endblock %}
<!------ Include the above in your HEAD tag ---------->
<style>
    .register{
    background: -webkit-linear-gradient(left, #A9B5C2, #587892);
    margin-top: 3%;
    padding: 3%;
    }
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #767C80;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #16a085;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #16a085;
    border: 2px solid #16a085;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}

table {
    border: 1px solid black;
    padding: 5px
  }

th,
td {
  border: 1px solid black;
  overflow: hidden;
  padding: 2px;
}

th {
    text-align: center
}

</style>
<script>
    function cancel(){
        window.location.href="/doctor/patient-list/patient/{{ profile.id }}";  
    }

    
</script>

<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <h3>Counselling Sheet</h3>
            <p>Nurturing Mental Health, One Mend at a Time</p>
            <input type="submit" name="" value="Cancel" onClick="cancel()"/><br/>
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">{{ profile.name }}</h3>
                    <form action="/healthcare/counselling/{{ patient.id }}" method="post">{% csrf_token %}
                        <div class="row register-form">
                            <div class="col-md-12">
                                {% if success %}
                                <div class="alert alert-success" role="alert">
                                   Counselling Successfully Created
                                </div>
                                {% endif %}
                                {% if message %}
                                    <div class="alert alert-danger" role="alert">
                                        {{message}}
                                    </div>
                                {% endif %}
                      
                            <div class="form-group">
                                <h3>Diagnostic Impression</h3>
                            </div>
                            </div>
                            
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control" id="diagnosticImpression" name="diagnosticImpression" rows="4">{{ patient.diagnosticImpression | default:'' }}</textarea>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <h3>Presenting Problems</h3>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Change in the level of functioning (1-mild, 3-moderate, 5-severe)</label>
                                    <div>
                                        <table style="text-align: center">
                                            <thead>
                                                <tr>
                                                    <th style="width: 200px">Level of functioning</th>
                                                    <th style="width: 100px">1</th>
                                                    <th style="width: 100px">2</th>
                                                    <th style="width: 100px">3</th>
                                                    <th style="width: 100px">4</th>
                                                    <th style="width: 100px">5</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Decrease in Energy</td>
                                                    <td><input type="radio" value="1" name="decreaseInEnergy"/></td>
                                                    <td><input type="radio" value="2" name="decreaseInEnergy"/></td>
                                                    <td><input type="radio" value="3" name="decreaseInEnergy"/></td>
                                                    <td><input type="radio" value="4" name="decreaseInEnergy"/></td>
                                                    <td><input type="radio" value="5" name="decreaseInEnergy"/></td>
                                                </tr>
                                                <tr>
                                                    <td>Panic Attacks</td>
                                                    <td><input type="radio" value="1" name="panicAttacks"/></td>
                                                    <td><input type="radio" value="2" name="panicAttacks"/></td>
                                                    <td><input type="radio" value="3" name="panicAttacks"/></td>
                                                    <td><input type="radio" value="4" name="panicAttacks"/></td>
                                                    <td><input type="radio" value="5" name="panicAttacks"/></td>
                                                </tr>
                                                <tr>
                                                    <td>Anxiety</td>
                                                    <td><input type="radio" value="1" name="anxiety"/></td>
                                                    <td><input type="radio" value="2" name="anxiety"/></td>
                                                    <td><input type="radio" value="3" name="anxiety"/></td>
                                                    <td><input type="radio" value="4" name="anxiety"/></td>
                                                    <td><input type="radio" value="5" name="anxiety"/></td>
                                                </tr>
                                                <tr>
                                                    <td>Poor Concentration</td>
                                                    <td><input type="radio" value="1" name="poorConcentration"/></td>
                                                    <td><input type="radio" value="2" name="poorConcentration"/></td>
                                                    <td><input type="radio" value="3" name="poorConcentration"/></td>
                                                    <td><input type="radio" value="4" name="poorConcentration"/></td>
                                                    <td><input type="radio" value="5" name="poorConcentration"/></td>
                                                </tr>
                                                <tr>
                                                    <td>Legal Problems</td>
                                                    <td><input type="radio" value="1" name="legalProblems"/></td>
                                                    <td><input type="radio" value="2" name="legalProblems"/></td>
                                                    <td><input type="radio" value="3" name="legalProblems"/></td>
                                                    <td><input type="radio" value="4" name="legalProblems"/></td>
                                                    <td><input type="radio" value="5" name="legalProblems"/></td>
                                                </tr>
                                                <tr>
                                                    <td>Impulsivity</td>
                                                    <td><input type="radio" value="1" name="impulsivity"/></td>
                                                    <td><input type="radio" value="2" name="impulsivity"/></td>
                                                    <td><input type="radio" value="3" name="impulsivity"/></td>
                                                    <td><input type="radio" value="4" name="impulsivity"/></td>
                                                    <td><input type="radio" value="5" name="impulsivity"/></td>
                                                </tr>
                                                <tr>
                                                    <td>Substance Abuse</td>
                                                    <td><input type="radio" value="1" name="substanceAbuse"/></td>
                                                    <td><input type="radio" value="2" name="substanceAbuse"/></td>
                                                    <td><input type="radio" value="3" name="substanceAbuse"/></td>
                                                    <td><input type="radio" value="4" name="substanceAbuse"/></td>
                                                    <td><input type="radio" value="5" name="substanceAbuse"/></td>
                                                </tr>
                                                <tr>
                                                    <td>Restlessness</td>
                                                    <td><input type="radio" value="1" name="restlessness"/></td>
                                                    <td><input type="radio" value="2" name="restlessness"/></td>
                                                    <td><input type="radio" value="3" name="restlessness"/></td>
                                                    <td><input type="radio" value="4" name="restlessness"/></td>
                                                    <td><input type="radio" value="5" name="restlessness"/></td>
                                                </tr>
                                                <tr>
                                                    <td>Cruelty</td>
                                                    <td><input type="radio" value="1" name="cruelty"/></td>
                                                    <td><input type="radio" value="2" name="cruelty"/></td>
                                                    <td><input type="radio" value="3" name="cruelty"/></td>
                                                    <td><input type="radio" value="4" name="cruelty"/></td>
                                                    <td><input type="radio" value="5" name="cruelty"/></td>
                                                </tr>
                                                <tr>
                                                    <td>Sleep Disturbance</td>
                                                    <td><input type="radio" value="1" name="sleepDisturbance"/></td>
                                                    <td><input type="radio" value="2" name="sleepDisturbance"/></td>
                                                    <td><input type="radio" value="3" name="sleepDisturbance"/></td>
                                                    <td><input type="radio" value="4" name="sleepDisturbance"/></td>
                                                    <td><input type="radio" value="5" name="sleepDisturbance"/></td>
                                                </tr>
                                                <tr>
                                                    <td>Indecisive</td>
                                                    <td><input type="radio" value="1" name="indecisive"/></td>
                                                    <td><input type="radio" value="2" name="indecisive"/></td>
                                                    <td><input type="radio" value="3" name="indecisive"/></td>
                                                    <td><input type="radio" value="4" name="indecisive"/></td>
                                                    <td><input type="radio" value="5" name="indecisive"/></td>
                                                </tr>
                                                <tr>
                                                    <td>Irritability</td>
                                                    <td><input type="radio" value="1" name="irritability"/></td>
                                                    <td><input type="radio" value="2" name="irritability"/></td>
                                                    <td><input type="radio" value="3" name="irritability"/></td>
                                                    <td><input type="radio" value="4" name="irritability"/></td>
                                                    <td><input type="radio" value="5" name="irritability"/></td>
                                                </tr>
                                                <tr>
                                                    <td>Worrying</td>
                                                    <td><input type="radio" value="1" name="worrying"/></td>
                                                    <td><input type="radio" value="2" name="worrying"/></td>
                                                    <td><input type="radio" value="3" name="worrying"/></td>
                                                    <td><input type="radio" value="4" name="worrying"/></td>
                                                    <td><input type="radio" value="5" name="worrying"/></td>
                                                </tr>
                                                <tr>
                                                    <td>Ritualistic Behavior</td>
                                                    <td><input type="radio" value="1" name="ritualisticBehavior"/></td>
                                                    <td><input type="radio" value="2" name="ritualisticBehavior"/></td>
                                                    <td><input type="radio" value="3" name="ritualisticBehavior"/></td>
                                                    <td><input type="radio" value="4" name="ritualisticBehavior"/></td>
                                                    <td><input type="radio" value="5" name="ritualisticBehavior"/></td>
                                                </tr>
                                                <tr>
                                                    <td>Hopelessness</td>
                                                    <td><input type="radio" value="1" name="hopelessness"/></td>
                                                    <td><input type="radio" value="2" name="hopelessness"/></td>
                                                    <td><input type="radio" value="3" name="hopelessness"/></td>
                                                    <td><input type="radio" value="4" name="hopelessness"/></td>
                                                    <td><input type="radio" value="5" name="hopelessness"/></td>
                                                </tr>
                                                <tr>
                                                    <td>Loss of Pleasure</td>
                                                    <td><input type="radio" value="1" name="lossOfPleasure"/></td>
                                                    <td><input type="radio" value="2" name="lossOfPleasure"/></td>
                                                    <td><input type="radio" value="3" name="lossOfPleasure"/></td>
                                                    <td><input type="radio" value="4" name="lossOfPleasure"/></td>
                                                    <td><input type="radio" value="5" name="lossOfPleasure"/></td>
                                                </tr>
                                                <tr>
                                                    <td>Withdrawn</td>
                                                    <td><input type="radio" value="1" name="withdrawn"/></td>
                                                    <td><input type="radio" value="2" name="withdrawn"/></td>
                                                    <td><input type="radio" value="3" name="withdrawn"/></td>
                                                    <td><input type="radio" value="4" name="withdrawn"/></td>
                                                    <td><input type="radio" value="5" name="withdrawn"/></td>
                                                </tr>
                                                <tr>
                                                    <td>Mood Swings</td>
                                                    <td><input type="radio" value="1" name="moodSwings"/></td>
                                                    <td><input type="radio" value="2" name="moodSwings"/></td>
                                                    <td><input type="radio" value="3" name="moodSwings"/></td>
                                                    <td><input type="radio" value="4" name="moodSwings"/></td>
                                                    <td><input type="radio" value="5" name="moodSwings"/></td>
                                                </tr>
                                                <tr>
                                                    <td>Helplessness</td>
                                                    <td><input type="radio" value="1" name="helplessness"/></td>
                                                    <td><input type="radio" value="2" name="helplessness"/></td>
                                                    <td><input type="radio" value="3" name="helplessness"/></td>
                                                    <td><input type="radio" value="4" name="helplessness"/></td>
                                                    <td><input type="radio" value="5" name="helplessness"/></td>
                                                </tr>
                                                <tr>
                                                    <td>Aggression/Rage</td>
                                                    <td><input type="radio" value="1" name="aggression"/></td>
                                                    <td><input type="radio" value="2" name="aggression"/></td>
                                                    <td><input type="radio" value="3" name="aggression"/></td>
                                                    <td><input type="radio" value="4" name="aggression"/></td>
                                                    <td><input type="radio" value="5" name="aggression"/></td>
                                                </tr>
                                                <tr>
                                                    <td>Low Self-Esteem</td>
                                                    <td><input type="radio" value="1" name="lowSelfEsteem"/></td>
                                                    <td><input type="radio" value="2" name="lowSelfEsteem"/></td>
                                                    <td><input type="radio" value="3" name="lowSelfEsteem"/></td>
                                                    <td><input type="radio" value="4" name="lowSelfEsteem"/></td>
                                                    <td><input type="radio" value="5" name="lowSelfEsteem"/></td>
                                                </tr>
                                                <tr>
                                                    <td>Excessive Guilt</td>
                                                    <td><input type="radio" value="1" name="excessiveGuilt"/></td>
                                                    <td><input type="radio" value="2" name="excessiveGuilt"/></td>
                                                    <td><input type="radio" value="3" name="excessiveGuilt"/></td>
                                                    <td><input type="radio" value="4" name="excessiveGuilt"/></td>
                                                    <td><input type="radio" value="5" name="excessiveGuilt"/></td>
                                                </tr>
                                                <tr>
                                                    <td>Depressed Mood</td>
                                                    <td><input type="radio" value="1" name="depressedMood"/></td>
                                                    <td><input type="radio" value="2" name="depressedMood"/></td>
                                                    <td><input type="radio" value="3" name="depressedMood"/></td>
                                                    <td><input type="radio" value="4" name="depressedMood"/></td>
                                                    <td><input type="radio" value="5" name="depressedMood"/></td>
                                                </tr>
                                                <tr>
                                                    <td>Oppositional</td>
                                                    <td><input type="radio" value="1" name="oppositional"/></td>
                                                    <td><input type="radio" value="2" name="oppositional"/></td>
                                                    <td><input type="radio" value="3" name="oppositional"/></td>
                                                    <td><input type="radio" value="4" name="oppositional"/></td>
                                                    <td><input type="radio" value="5" name="oppositional"/></td>
                                                </tr>
                                                <tr>
                                                    <td>Violation of Rules</td>
                                                    <td><input type="radio" value="1" name="violationOfRules"/></td>
                                                    <td><input type="radio" value="2" name="violationOfRules"/></td>
                                                    <td><input type="radio" value="3" name="violationOfRules"/></td>
                                                    <td><input type="radio" value="4" name="violationOfRules"/></td>
                                                    <td><input type="radio" value="5" name="violationOfRules"/></td>
                                                </tr>
                                                <tr>
                                                    <td>Eating Disturbance</td>
                                                    <td><input type="radio" value="1" name="eatingDisturbance"/></td>
                                                    <td><input type="radio" value="2" name="eatingDisturbance"/></td>
                                                    <td><input type="radio" value="3" name="eatingDisturbance"/></td>
                                                    <td><input type="radio" value="4" name="eatingDisturbance"/></td>
                                                    <td><input type="radio" value="5" name="eatingDisturbance"/></td>
                                                </tr>
                                                <tr>
                                                    <td>Tearfulness</td>
                                                    <td><input type="radio" value="1" name="tearfulness"/></td>
                                                    <td><input type="radio" value="2" name="tearfulness"/></td>
                                                    <td><input type="radio" value="3" name="tearfulness"/></td>
                                                    <td><input type="radio" value="4" name="tearfulness"/></td>
                                                    <td><input type="radio" value="5" name="tearfulness"/></td>
                                                </tr>
                                                <tr>
                                                    <td>Low Motivation</td>
                                                    <td><input type="radio" value="1" name="lowMotivation"/></td>
                                                    <td><input type="radio" value="2" name="lowMotivation"/></td>
                                                    <td><input type="radio" value="3" name="lowMotivation"/></td>
                                                    <td><input type="radio" value="4" name="lowMotivation"/></td>
                                                    <td><input type="radio" value="5" name="lowMotivation"/></td>
                                                </tr>
                                            </tbody>
                                          </table>                                          
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Changes in Psychosocial/ Psychological level of distress:</label>
                                    <div>
                                        <label><input type="radio" name="changesInDistress" value="Greater" onclick="toggleChangeDistressInput(this)" {% if patient.changesInDistress == "Greater" %} checked {% endif %} required> Greater </label>
                                        <label><input type="radio" name="changesInDistress" value="Less" onclick="toggleChangeDistressInput(this)" {% if patient.changesInDistress == "Less" %} checked {% endif %} required> Less </label>
                                        <label><input type="radio" name="changesInDistress" value="None" onclick="toggleChangeDistressInput(this)" {% if patient.changesInDistress == "None" %} checked {% endif %} required> None </label>
                                    </div>                                    
                                </div>
                                <div class="form-group">
                                    <label>Changes in physical status:</label>
                                    <input type="text" class="form-control" name="changePhysicalStatus" placeholder="Changes" value="{{ patient.changePhysicalStatus | default:'' }}" required>
                                </div>                                
                                <div class="form-group">
                                    <label>Reports received/ Ancillary services documented:</label>
                                    <input type="text" class="form-control" name="reportsReceived" placeholder="Reports received" value="{{ patient.reportsReceived | default:'' }}" required>
                                </div>
                                <div class="form-group">
                                    <h3>Psychotherapy Progress Note</h3>
                                </div>
                                </div>
                                
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Session Focus:</label>
                                        <textarea class="form-control" id="sessionFocus" name="sessionFocus" rows="4">{{ patient.sessionFocus | default:'' }}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Therapeutic Intervention:</label>
                                        <textarea class="form-control" id="therapeuticIntervention" name="therapeuticIntervention" rows="4">{{ patient.therapeuticIntervention | default:'' }}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Planned Intervention:</label>
                                        <textarea class="form-control" id="plannedIntervention" name="plannedIntervention" rows="4">{{ patient.plannedIntervention | default:'' }}</textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btnRegister">Submit</button>
                                </div>
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
