<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% block title %} <title>Update Treatment Plan</title>{% endblock %}
<!------ Include the above in your HEAD tag ---------->
<style>
    .register{
    background: -webkit-linear-gradient(left, #A9B5C2, #587892);
    margin-top: 3%;
    padding: 3%;
    }
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #767C80;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #16a085;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #16a085;
    border: 2px solid #16a085;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}

table {
    border: 1px solid black;
    padding: 5px
  }

th,
td {
  border: 1px solid black;
  width: 150px;
  overflow: hidden;
}

th {
    text-align: center
    
}

</style>
<script>
    function cancel(){
        window.location.href="/doctor/patient-list/patient/{{ profile.id }}";  
    }

    
</script>

<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <h3>Counselling Sheet</h3>
            <p>Nurturing Mental Health, One Mend at a Time</p>
            <input type="submit" name="" value="Cancel" onClick="cancel()"/><br/>
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">{{ profile.name }}</h3>
                    <form action="/healthcare/updatePatientRecord/{{profile.id}}" method="post">{% csrf_token %}
                        <div class="row register-form">
                            <div class="col-md-12">
                                {% if success %}
                                <div class="alert alert-success" role="alert">
                                    Treatment Plan Successfully Updated
                                </div>
                                {% endif %}
                                {% if message %}
                                    <div class="alert alert-danger" role="alert">
                                        {{message}}
                                    </div>
                                {% endif %}
                      
                            <div class="form-group">
                                <h3>Diagnostic Impression</h3>
                            </div>
                            </div>
                            
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control" id="diagnosticImpression" name="diagnosticImpression" rows="4">{{ patient.diagnosticImpression | default:'' }}</textarea>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <h3>Presenting Problems</h3>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Change in the level of functioning (1-mild, 3-moderate, 5-severe)</label>
                                    <div>
                                        <table>
                                            <tr>
                                              <td><label>1</label></td>
                                              <td><label>2</label></td>
                                              <td><label>3</label></td>
                                              <td><label>4</label></td>
                                              <td><label>5</label></td>
                                            </tr>
                                            <tr>
                                              <td><label>Choice 1</label></td>
                                              <td><label>Choice 2</label></td>
                                              <td><label>Choice 3</label></td>
                                              <td><label>Choice 4</label></td>
                                              <td><label>Choice 5</label></td>
                                            </tr>
                                          </table>                                          
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Changes in Psychosocial/ Psychological level of distress:</label>
                                    <div>
                                        <label><input type="radio" name="changeDistress" value="greater" onclick="toggleChangeDistressInput(this)" {% if patient.changeDistress == "greater" %} checked {% endif %} required> Greater </label>
                                        <label><input type="radio" name="changeDistress" value="less" onclick="toggleChangeDistressInput(this)" {% if patient.changeDistress == "less" %} checked {% endif %} required> Less </label>
                                        <label><input type="radio" name="changeDistress" value="none" onclick="toggleChangeDistressInput(this)" {% if patient.changeDistress == "none" %} checked {% endif %} required> None </label>
                                    </div>  
                                </div>
                                <div class="form-group">
                                    <label>Changes in physical status:</label>
                                    <input type="text" class="form-control" name="changePhysicalStatus" placeholder="Changes" value="{{ patient.changePhysicalStatus | default:'' }}" required>
                                </div>                                
                                <div class="form-group">
                                    <label>Reports received/ Ancillary services documented:</label>
                                    <input type="text" class="form-control" name="reportsReceived" placeholder="Reports received" value="{{ patient.reportsReceived | default:'' }}" required>
                                </div>
                                
                            </div>

                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
