<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% block title %} <title>Update Treatment Plan</title>{% endblock %}
<!------ Include the above in your HEAD tag ---------->
<style>
    .register{
    background: -webkit-linear-gradient(left, #A9B5C2, #587892);
    margin-top: 3%;
    padding: 3%;
    }
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #767C80;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #16a085;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #16a085;
    border: 2px solid #16a085;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}

table {
    border: 1px solid black;
    padding: 5px
  }

th,
td {
  border: 1px solid black;
  width: 150px;
  overflow: hidden;
}

th {
    text-align: center
    
}

</style>
<script>
    function cancel(){
        window.location.href="/doctor/patient-list/patient/{{ patient.id }}";  
    }

    
</script>

<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <h3>Add Treatment Plan</h3>
            <p>Nurturing Mental Health, One Mend at a Time</p>
            <input type="submit" name="" value="Cancel" onClick="cancel()" /><br />
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">{{ patient.name }}</h3>
                    <form action="/healthcare/treatmentPlan/{{ patient.id }}" method="post">{% csrf_token %}
                        <div class="row register-form">
                            <div class="col-md-12">
                                {% if success %}
                                <div class="alert alert-success" role="alert">
                                    Treatment Plan Successfully Created
                                </div>
                                {% endif %}
                                {% if message %}
                                <div class="alert alert-danger" role="alert">
                                    {{message}}
                                </div>
                                {% endif %}

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <h3>Treatment Process</h3>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>
                                            <h5>Summary of Treatment Goal (Specification of Treatment Plan):</h5>
                                        </label>
                                        <input type="text" class="form-control" name="treatmentGoal" placeholder="Summary">
                                    </div>

                                    <div class="form-group">
                                        <label>
                                            <h5>Detailed Treatment Plan</h5>
                                        </label>
                                        <div>
                                            <label>Treatment Strategy/Interventions</label>
                                            <div>
                                                <table style="font-size: 15; border-size: 1px; margin-bottom: 8px">
                                                    <tr>
                                                        <th><label>Specific Problems/Concerns</label></th>
                                                        <th><label>Approaches</label></th>
                                                        <th><label>Time Frame</label></th>
                                                        <th><label>Person Responsible</label></th>
                                                        <th><label>Remarks</label></th>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="text" class="form-control" name="specificProblem" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="approaches" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="timeFrame" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="personalResponsibilities" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="remarks" placeholder="">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="text" class="form-control" name="specificProblem" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="approaches" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="timeFrame" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="personalResponsibilities" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="remarks" placeholder="">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="text" class="form-control" name="specificProblem" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="approaches" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="timeFrame" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="personalResponsibilities" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="remarks" placeholder="">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="text" class="form-control" name="specificProblem" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="approaches" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="timeFrame" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="personalResponsibilities" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="remarks" placeholder="">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="text" class="form-control" name="specificProblem" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="approaches" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="timeFrame" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="personalResponsibilities" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="remarks" placeholder="">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="text" class="form-control" name="specificProblem" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="approaches" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="timeFrame" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="personalResponsibilities" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="remarks" placeholder="">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="text" class="form-control" name="specificProblem" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="approaches" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="timeFrame" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="personalResponsibilities" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="remarks" placeholder="">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="text" class="form-control" name="specificProblem" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="approaches" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="timeFrame" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="personalResponsibilities" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="remarks" placeholder="">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="text" class="form-control" name="specificProblem" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="approaches" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="timeFrame" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="personalResponsibilities" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="remarks" placeholder="">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="text" class="form-control" name="specificProblem" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="approaches" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="timeFrame" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="personalResponsibilities" placeholder="">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" name="remarks" placeholder="">
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Changes in Treatment Criteria:</label>
                                            <div>
                                                <label><input type="radio" name="changeTreatmentCriteria" value="yes" onclick="toggleChangeTreatmentCriteria(this)"> Yes</label>
                                                <label><input type="radio" name="changeTreatmentCriteria" value="no" onclick="toggleChangeTreatmentCriteria(this)"> No</label>
                                            </div>
                                            <div>
                                                <textarea class="form-control" id="treatmentCriteria" name="treatmentCriteria" rows="4"></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group" style="padding: 5px">
                                            <label>
                                                <h5>Frequency of Treatment:</h5>
                                            </label>
                                            <div>
                                                <label>Sessions per month:</label>
                                                <input type="number" class="form-control" name="sessionsPerMonth" placeholder="Sessions per Month" required>
                                            </div>
                                            <div style="padding: 5px">
                                                <label>Client concurred:</label>
                                                <div>
                                                    <label><input type="radio" name="clientConcurred" value="yes" onclick="toggleClientConcurred(this)"> Yes</label>
                                                    <label><input type="radio" name="clientConcurred" value="no" onclick="toggleClientConcurred(this)"> No</label>
                                                </div>
                                            </div>
                                            <div>
                                                <label>Remarks:</label>
                                                <input type="text" class="form-control" name="treatmentRemarks" placeholder="Remarks">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <button type="submit" class="btnRegister">Submit</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

