{% extends "base.html"%}
{% load static %}

{% block content %}
{% block title %} <title>Patient Record</title>{% endblock %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        [data-tab-content] {
            display: none;
          }
          
          .activeDiv[data-tab-content] {
            display: block;
          }
          .custom-basic li{
              padding: 10px;
          }
          .activeDiv li{
              background-color: yellowgreen !important;
          }

          .info-msg,
          .success-msg,
          .warning-msg,
          .error-msg {
            margin: 10px 0;
            padding: 10px;
            border-radius: 3px 3px 3px 3px;
          }
          
          .success-msg {
            color: #270;
            background-color: #DFF2BF;
          }
          
          .error-msg {
            color: #D8000C;
            background-color: #FFBABA;
          }

          body {
        padding: 0px;
        margin: 0;
        font-family: Helvetica, sans-serif;
        background-color: #EEEAE3;
        }

        .inactiveTab {
            background-color: #BCC1C4 !important; 
            border-color: #BCC1C4 !important;
        }

        .btn-primary, .btn-primary:hover, .btn-primary.activeTab {
            background-color: #587892;
            border-color: #587892;
        }

        .btn-primary{
            margin: 3px;
        } 

        table {
            border-collapse:separate;
            border:solid black 1px;
            border-radius:6px;
        }
        
        td {
            border-left:solid black 1px;
            border-top:solid black 1px;
        }
          

    </style>
   
</head>
<body>
  {% if messages %}
 {% for message in messages %} 
 {% if message.tags %}
		<div class="{{message.tags}}-msg" style="  text-align: center;">		  {% endif %}
		  

	<i class="fa fa-times-circle"></i>
			{{message}}
		  </div>
		  {% endfor %} 
		{% endif %}	
	
    
       <div class="container-fluid">
            <div class="card text-center custom-basic">
                <div class="card-header">
                    <div class="nav nav-pills card-header-pills">
                        <button class="nav-item btn btn-primary activeTab" data-tab-target="#BasicDetails">Basic Details</button>
                        <button class="nav-item btn btn-primary inactiveTab" data-tab-target="#PersonalInformationSheet">Personal Information Sheet</button>
                        <button class="nav-item btn btn-primary inactiveTab" data-tab-target="#ConsentForm">Consent Form</button>
                        <button class="nav-item btn btn-primary inactiveTab" data-tab-target="#Counseling">Counseling</button>
                        <button class="nav-item btn btn-primary inactiveTab" data-tab-target="#TreatmentPlan">Treatment Plan</button>
                        <h3>
                            <a class="nav-link" href="/doctor/patient-list" style="float: right; position: absolute; right:20px">
                                <i class="fas fa-caret-square-left fa-lg zoomOut" style="color: #767C80;"></i>
                            </a>
                        </h3>
                    </div>
                </div>
        
        <div class="tab-content" style="margin-top: 18px; margin-bottom: 5px">
            <div id="BasicDetails" data-tab-content class="activeDiv">
                <h1>Basic Details</h1>
                <div class="card-body pt-0" id="table1">
                    <table class="table table-bordered" style="margin: 2px; text-align: left; padding: 2px; background: #F9FAFA">
                      <tr>
                        <th width="20%">Patient Name</th>
                        <td>{{details.name}}</td>
                      </tr>
                      <tr>
                        <th width="20%">Date of birth	</th>
                        <td>{{details.dateOfBirth}}</td>
                      </tr>
                      
                      <tr>
                        <th width="20%">Gender</th>
                        <td>{{details.gender}}</td>
                      </tr>
                      
                      <tr>
                        <th width="20%">Mobile Number </th>
                        <td>{{details.mobile}}</td>
                      </tr>
                      <tr>
                        <th width="20%">Email</th>
                        <td>{{details.email}}</td>
                      </tr>
                    </table>
                  </div>

                {% if request.session.role == "Nurse" or request.session.role == "Doctor" %}
                <a href="/healthcare/updatePatient/{{details.id}}" class="btn btn-info btm-sm" style ="background-color:#B0A99F; border-color:#B0A99F; color:white; float:center; margin-bottom: 2%; margin-top: .5%;">Update Basic Details</a>
                {% endif %}

            </div>
            <div id="PersonalInformationSheet" data-tab-content>
                <h1>Personal Information Sheet</h1>
                {% if noRecord %}
                <h1>
                    <a href="/healthcare/patientRecord/{{details.id}}" class="btn btn-info btm-sm" style ="background-color:#B0A99F; border-color:#B0A99F; color:white; float:center; margin: 2%;">Add Personal Information Sheet</a>
                </h1>
                {% else %}
                {% if request.session.role == "Nurse" or request.session.role == "Doctor" %}
                <a href="/healthcare/updatePatientRecord/{{details.id}}" class="btn btn-info btm-sm" style ="background-color:#B0A99F; border-color:#B0A99F; color:white; float:center; margin: 2%;">Update Personal Information Sheet</a>
                {% endif %}
                <div class="card-body pt-0" id="table2">
                    <table class="table table-bordered" style="background: #F9FAFA">
                      <tr>
                          <th width="20%">Psychiatric Services</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.psychiatric_services}}</td>
                      </tr>
                      <tr>
                          <th width="20%">Previous Psychotherapy</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.previous_psychotherapy}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Previous Therapist</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.previous_therapist}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Psychiatric Medication</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.psychiatric_medication}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Medication List</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.medication_list}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Prescribed By</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.prescribed_by}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Primary Physician</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.primary_physician}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Primary Physician Name</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.primary_physician_name}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Multiple Specialists</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.multiple_specialists}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Specialist List</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.specialist_list}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Last Examination</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.last_examination}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Persistent Symptoms</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.persistent_symptoms}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Physical Medication</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.physical_medication}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Sleep Time</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.sleep_time}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Wake Up Time</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.wake_up_time}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Sleep Problems</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.sleep_problems}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Sleep Problems Type</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.sleep_problems_type}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Other Sleep Problems</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.other_sleep_problems}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Exercise Frequency</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.exercise_frequency}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Exercise Duration</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.exercise_duration}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Eating Habits</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.eating_habits}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Eating Habits Type</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.eating_habits_type}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Weight Change</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.weight_change}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Alcohol Use</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.alcohol_use}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Alcohol Frequency</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.alcohol_frequency}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Drinking Alone or Group</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.drinking_alone_or_group}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Drug Use Frequency</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.drug_use_frequency}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Tobacco Use</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.tobacco_use}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Cigarettes Per Day</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.cigarettes_per_day}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Tobacco Past Use</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.tobacco_past_use}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Romantic Relationship</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.romantic_relationship}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Relationship Duration</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.relationship_duration}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Relationship Rating</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.relationship_rating}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Life Changes</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.life_changes}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Extreme Depressed Mood</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.extreme_depressed_mood}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Dramatic Mood Swings</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.dramatic_mood_swings}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Rapid Speech</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.rapid_speech}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Extreme Anxiety</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.extreme_anxiety}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Panic Attacks</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.panic_attacks}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Phobias</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.phobias}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Sleep Disturbances</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.sleep_disturbances}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Hallucinations</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.hallucinations}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Unexplained Losses Of Time</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.unexplained_losses_of_time}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Unexplained Memory Lapses</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.unexplained_memory_lapses}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Alcohol Substance Abuse</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.alcohol_substance_abuse}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Frequent Body Complaints</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.frequent_body_complaints}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Eating Disorder</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.eating_disorder}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Body Image Problems</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.body_image_problems}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Repetitive Thoughts</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.repetitive_thoughts}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Repetitive Behaviors</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.repetitive_behaviors}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Homicidal Thoughts</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.homicidal_thoughts}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Suicidal Thoughts</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.suicidal_thoughts}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Suicidal Attempts</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.suicidal_attempts}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Suicidal Attempts When</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.suicidal_attempts_when}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Employed</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.employed}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Employer</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.employer}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Position Happiness</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.position_happiness}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Years In Service</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.years_in_service}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Years In Position</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.years_in_position}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Work Stressors</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.work_stressors}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Religious</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.religious}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Faith</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.faith}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Spiritual</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.spiritual}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Depression</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.depression}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Depression Member</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.depression_member}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Bipolar</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.bipolar}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Bipolar Member</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.bipolar_member}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Anxiety</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.anxiety}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Anxiety Member</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.anxiety_member}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Panic</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.panic}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Panic Member</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.panic_member}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Schizophrenia</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.schizophrenia}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Schizophrenia Member</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.schizophrenia_member}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Alcohol</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.alcohol}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Alcohol Member</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.alcohol_member}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Eating</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.eating}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Eating Member</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.eating_member}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Learning</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.learning}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Learning Member</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.learning_member}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Trauma</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.trauma}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Trauma Member</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.trauma_member}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Suicide</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.suicide}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Suicide Member</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.suicide_member}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Chronic</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.chronic}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Chronic Member</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.chronic_member}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Strengths</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.strengths}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Like Yourself</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.like_yourself}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Coping Strategies</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.coping_strategies}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Need Assistance</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.need_assistance}}</td>
                      </tr>
                      <tr>  
                          <th width="20%">Area Concern</th>
                          <!--<td width="2%">:</td>-->
                          <td>{{history.area_concern}}</td>
                      </tr>
                    </table>
                  </div>
                {% endif %}
            </div>
            <div id="ConsentForm" data-tab-content>
                <h1>Informed Consent for Psychological Counseling</h1>
                {% if noConsent %}
                <h1>
                    <a href="/healthcare/consentForm/{{details.id}}" class="btn btn-info btm-sm" style ="background-color:#B0A99F; border-color:#B0A99F; color:white; float:center; margin: 2%;">Add Informed Consent</a>
                </h1>
                {% else %}
                {% if request.session.role == "Nurse" or request.session.role == "Doctor" %}
                <a href="/healthcare/updateConsentForm/{{details.id}}" class="btn btn-info btm-sm" style ="background-color:#B0A99F; border-color:#B0A99F; color:white; float:center; margin: 2%;">Update Informed Consent</a>
                {% endif %}
                <div class="card-body pt-0" id="table2">
                    <table class="table table-bordered" style="background: #F9FAFA">
                        <tr>  
                            <th width="20%">Patient Name</th>
                            <!--<td width="2%">:</td>-->
                            <td>{{consentForm.patient_name}}</td>
                        </tr>
                        <tr>
                            <th width="20%">Patient Signature</th>
                            <td>
                                {% if consentForm.patient_signature %}
                                    <img src="data:image/svg+xml;base64,{{ consentForm.patient_signature }}" alt="Patient Signature" style="width: 400px; height: 100px;"/>
                                {% else %}
                                    No Signature Provided
                                {% endif %}
                            </td>
                        </tr>
                        <tr>  
                            <th width="20%">Informant Name</th>
                            <!--<td width="2%">:</td>-->
                            <td>{{consentForm.informant_name}}</td>
                        </tr>
                        <tr>
                            <th width="20%">Informant Signature</th>
                            <td>
                                {% if consentForm.informant_signature %}
                                    <img src="data:image/svg+xml;base64,{{ consentForm.informant_signature }}" alt="Informant Signature" style="width: 400px; height: 100px;"/>
                                {% else %}
                                    No Signature Provided
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>                
                {% endif %}
            </div>
            <div id="Prescriptions" data-tab-content>
                <h1>Prescriptions 
                    {% if request.session.role == "Doctor" %}
                <a href="/doctor/diagnosis/{{details.id}}" class="btn btn-info btm-sm" style ="background-color:#16a085; color:white; float:right; margin-top:5px; margin-right:5px;">Add Prescription</a>
                {% endif %}
                </h1>
                
                <div class="card-body pt-0" id="table3">
                    {% if prescriptionList %}
                    <table class="table table-light table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Diagnosis Date</th>
                          <th scope="col">Diagnosis Name</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      {% if prescriptionList %}
                              {% for data in prescriptionList %}
                              <tr>
                                <td>{{data.diagnosisCreatedDate}}</td>
                                <td>{{data.diagnosisName}}</td>
                                  <td>
                                      <a href="/doctor/viewPrescription/{{data.prescriptionId}}" class="btn btn-info btm-sm" style="background-color: #16a085; color:white; ">View Diagnosis</a>
                                      <a href="/doctor/medicineFile/{{data.prescriptionId}}" class="btn btn-info btm-sm" style="background-color: #16a085; color:white; ">Download Prescriptions</a>
                                  </td>
                      </tr>
                          
                           {% endfor %}
                          {% endif %}
                  </table>
                    {% endif %}
                  </div>
            </div>
        </div>
       </div>
    </div>
        
    
</body>
<script>
    const tabs = document.querySelectorAll('[data-tab-target]');
    const tabContents = document.querySelectorAll('[data-tab-content]');

    tabs.forEach(tab => {
        tab.addEventListener('click', () => {
            const target = document.querySelector(tab.dataset.tabTarget);
            
            tabContents.forEach(tabContent => {
                tabContent.classList.remove('activeDiv');
            });

            tabs.forEach(otherTab => {
                otherTab.classList.add('inactiveTab'); // Add class to inactive tabs
                otherTab.classList.remove('activeTab'); // Remove active class
            });

            tab.classList.add('activeTab'); // Add active class to clicked tab
            tab.classList.remove('inactiveTab'); // Remove inactive class from clicked tab
            target.classList.add('activeDiv');
        });
    });


</script>
{% endblock %}